
/* JSON Editor */
.jsonEditor > .jsonObject {
  float: left;
}

.jsonEditor * {
	vertical-align: top;
}

.jsonChildren {
  margin-left: 20px;
  display: none;
  font-weight: normal;
  border-left: 1px dotted #ddd;
}
.jsonCompound.open > .jsonChildren {
  display: block;
}
.jsonPropertyAdder {
  margin-left: 13px;
}
.jsonPropertyAdder select {
  margin-left: 5px;
}
.compoundToggle:before {
  content: '▸';
  color: #333;
  line-height: 1em;
  margin-right: 3px;
}
.open > .compoundToggle:before {
  content: '▾';
}

.jsonName {
  font-style: italic;
}

.jsonValue {
  margin-left: 5px;
}

.jsonValue > input,
.jsonValue > textarea,
.jsonValue > select {
	margin-bottom: 5px;
}

.jsonRemove {
  visibility: hidden;
  margin-right: 5px;
  text-decoration: none;
}

.jsonProperty:hover > .jsonRemove {
  visibility: visible;
}
pre {
  background: #eee;
  border: 1px solid #ddd;
  padding: 5px;
  float: left;
  width: 180px;
  margin: 0 10px 0 0;
}

.compoundToggle, .jsonString{
  cursor: pointer;
}

.booleanProperty * {
	vertical-align: middle;
}

.booleanProperty input {
	margin-bottom: 0;
}