/* Create a block desing instead the default inline one for json editor */

.jsonName {
	display: block;
	position: relative;
	font-style: normal;
	text-align: left;
}

.jsonName a, .jsonFixed {
	width: 10px;
	margin: 0;
	display: inline-block;
}

.jsonValue {
	margin-left: 10px;
}

.objectProperty > .jsonValue,
.objectProperty > .jsonName,
.arrayProperty > .jsonValue,
.arrayProperty > .jsonName {
	display: inline;
}

.jsonChildren {
	margin-left: 10px;
	padding-left: 10px;
}

.jsonError > .jsonValue .jsonErrorMsg {
	display: block;
}
